@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.notification-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.flex.flex-col {
  max-height: 100vh;
  overflow-y: auto;
}


.bg-morning {
  background: linear-gradient(to bottom, #e0f7ff, #fff4d9);
}


.bg-afternoon {
  background: linear-gradient(to bottom, #ffeb99, #ff8c42);
}


.bg-evening {
  background: linear-gradient(to bottom, #4c1c6f, #120026);
}

.bg-midnight {
  background: linear-gradient(to bottom,#0d1b2a, #000000);
  position: relative;
  overflow: hidden;
}


.shooting-star {
  position: absolute;
  top: 0;
  width: 100px;
  height: 2px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff);
  opacity: 0;
  transform: rotate(-45deg);
  animation: shootingStarAnimation 10s ease-in-out infinite;
}

@keyframes shootingStarAnimation {
  0% {
    opacity: 1;
    transform: translateX(-200px) translateY(-200px) rotate(45deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(600px) translateY(600px) rotate(45deg);
  }
}

.cloud {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  animation: cloudMovement 60s linear infinite;
  opacity: 0.6;
}


.cloud-part {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  position: absolute;
}


@keyframes cloudMovement {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(100vw);
  }
}

