# Ignore all files
*

# Allow dist directories (if any)
!dist/
# Allow other files or directories as needed
!target/
!src/
!pom.xml
# Allow Maven Configuration Files

!src/pom.xml
# If you use Maven
!src/target/
# Allow copying of the target directory and its files

# Necessary files to allow front-end
!frontend/
!frontend/package.json
!frontend/package-lock.json
!frontend/public/
!frontend/src/
!frontend/.next/