# 忽略所有文件
*

# 允许 dist 目录（如果有的话）
!dist/
# 允许需要的其他文件或目录
!target/
!src/
!pom.xml  # 允许 Maven 配置文件

!src/pom.xml  # 如果你使用 Maven
!src/target/  # 允许复制 target 目录及其中的文件

# 允许前端的必要文件
!frontend/
!frontend/package.json
!frontend/package-lock.json
!frontend/public/
!frontend/src/
!frontend/.next/